<form class="inputForm" #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
  <div class="row">
    <div class="col-md-3 col-sm-6 offset-sm-3 offset-md-4 align-self-center">
      <div class="input-group">
        <input class="form-control" type="search" name="cityName" placeholder="City Name" ngModel>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="tab-pane active">
        <table class="table">
          <tbody *ngFor="let data of (cityInfo$ | async)">
            <tr>
              <td><img src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png"></td>
              <td>
                <b><a [routerLink]="['forecast', data.id]">{{data.name | titlecase}},{{data.sys.country}}</a><i>&nbsp;{{data.weather[0].description}}</i></b>
                <p><span class="badge badge-info">{{data.main.temp | number: '.0-1' }}°С </span>
                  temperature from {{data.main.temp_min}} to {{data.main.temp_max}} °С, wind {{data.wind.speed}} m/s.
                  clouds {{data.clouds.all}} %, {{data.main.pressure}} hpa
                </p>
                <p>Geo Coords &nbsp; <a style="color: #f39c12">[{{data.coord.lon}} , {{data.coord.lat}}]</a> </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>