<div class="footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="text-color">What are Your Thoughts</h3>
        <textarea class="textarea" rows="3" placeholder="Write a Comment..."></textarea>
        <button type="button" class="btn btn-danger" style="float: right;">Post Comment</button>
      </div>
      <div class="col-sm-4">
        <h3 class="text-color">Go Social</h3>
        <ul>
          <li>
            <p>Follow Us&nbsp;</p>
            <div class="content social">
              <div class="main-footer__socials">
                <a class="icon-social" href="#" title="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="icon-social" href="#" title="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="icon-social" href="#" title="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a class="icon-social" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="icon-social" href="" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a class="icon-social" href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
            </div>
          </li>
        </ul>       
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Developed By @Parag Badala</p>
      </div>
    </div>
  </div>
</div>